.footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  flex-direction: column;
  display: flex;
  text-align: left;
  color: #545454;
  padding-top: auto;
  padding-bottom: auto;
  padding-top: 22px;
  padding-bottom: auto;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
