.footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  flex-direction: column;
  display: flex;
  text-align: left;
  color: #545454;
  padding-top: auto;
  /* padding-top: 18px; */
  /* padding-bottom: auto;
  margin: auto; */
  padding: 60px 0 67px 0;
}

.footer__copyright {
  line-height: 22px;
  font-size: 18px;
  margin: auto 0 0;
}

@media screen and (max-width: 653px) {
  .footer {
    width: 282px;
  }

  .footer__copyright {
    line-height: 17px;
    font-size: 14px;
  }
}
